body {
  margin: 0;
  font-family: 'Open-sans', sans-serif;
  text-align: center;
  background-color: navy;
}

#upper {
  padding: 20px;
  padding-left: 10px;
  color: white;
  border-bottom: black 2px solid;
}

#middle {
  background-color: white;
  padding: 20px;
  color: black;
  border-bottom: black 2px solid;
}

#choiceButton {
  width: 50px;
  padding: 5px;
  border: transparent;
  background-color: transparent;
}

#choice {
  margin-top: 10px;
}

#lower {
  padding: 10px;
  color: white;
}

#lower > table {
  color: white;
  margin: auto;
}

.resultCell {
  padding-left: 50px;
  font-weight: bold;
}

#finalResult {
  margin-top: 10px;
  margin-bottom: 10px;
}
